{% extends 'app/base.html' %}


{% block content %}
<div class="card top d-flex flex-column justify-content-end mb-4">
    <img src="{{ profile_data.subImage.url }}" alt="">
    <div class="overlay text-white p-5">
        <h1 class="title">{{ profile_data.title }}</h1>
        <ht class="subtitle">{{ profile_data.subtitle }}</ht>
    </div>
</div>

<div class="row mb-5">

    {% for work in work_data %}
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <a href="{% url "detail" work.id %}" class="worl work-link">
            <div class="card work-thumbnail">

                {% if work.thumbnail %}
                <img src="{{ work.thumbnail.url }}" alt="" class="work-img">
                {% else %}
                <img src="{{ work.image.url }}" alt="" class="work-img">
                {% endif %}

                <div class="work-title text-center">
                    <p class="mb-0">{{ work.title }}</p>
                </div>
            </div>
        </a>


    </div>
    {% endfor %}

</div>
{% endblock content %}